{% extends 'MyVet/parent.html' %}
{% load static %}
{% block contenidoDinamico %}

<h1 class="card-title">Pacientes</h2>

<a href="{% url 'Crear Paciente' %}" class="btn btn-dark active float-right" role="button" aria-pressed="true">Crear Paciente</a>
<a href="{% url 'Buscar Paciente' %}" class="btn btn-dark active float-right" role="button" aria-pressed="true">Buscar Pacientes</a>

{% if pacientes %}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Especie</th>
        <th scope="col">Raza</th>
        <th scope="col">DNI Tutor</th>
      </tr>
    </thead>
    <tbody>  
        {% for paciente in pacientes %}
        <tr>
            <td>{{paciente.nombre}}</td>
            <td>{{paciente.especie}}</td>
            <td>{{paciente.raza}}</td>
            <td>{{paciente.dni_tutor}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  
{% else %}
<h3 class="card-title">Aún no existen pacientes en el sistema.</h3>
{% endif %}

{% endblock %}